@page
@model Magic.Guangdong.Exam.Client.Pages.Monitor.MainModel
@{
    ViewData["SubTitle"] = "主监考画面";
    Layout = "_LayoutExam";
}
<main class="main container">
    <article id="mainBody">
        <header style="text-align:center;font-size:larger">
            主监考画面
        </header>
        <form>
            <div id="local_video" style="width:100%;height:500px;display:flex;align-items:center;justify-content:center;"></div>
           
            <hr />
            <div id="operation" class="overflow-auto" style="text-align:center">
                <a href="javascript:;" role="button" class="outline" onclick="PushMain()">开启推流</a>
                <a href="javascript:;" role="button" class="dangerBtn" onclick="StopPushMain()">关闭推流</a>
            </div>            
        </form>
    </article>
    <article id="tipsBody" style="display:none">
        <div id="tipsContent">
        </div>
        <footer>
            <a href="javascript:;" id="btnRefresh" role="button" class="outline" style="width:100%">刷新</a>
        </footer>
    </article>
</main>
<script src="~/plugins/microsoft-signalr/signalr.min.js"></script>
<script src="~/web/chat.js"></script>
<script src="~/web/pusher/TXLivePusher-2.1.1.min.js"></script>
<script>
    let supportFlag = true;
    let mainBodyElement = $('#mainBody');
    let tipsBodyElement = $('#tipsBody');

    TXLivePusher.checkSupport().then(function(data) {
        let errorMsg = 'success';
        // 是否支持WebRTC
        if (!data.isWebRTCSupported) {
            errorMsg='WebRTC协议检查不通过，请检查当前设备是否具备摄像头和麦克风设备，检查是否使用现代浏览器，推荐Chrome，Microsoft Edge，FireFox'
            mainBodyElement.remove();
            tipsBodyElement.show();
            $('#tipsContent').html(`<h4 style="color:var(--pico-color-red-500)">${errorMsg}</h4>`);
            supportFlag = false;
            return;
        }

        // 是否支持H264编码
        if (!data.isH264EncodeSupported) {

            errorMsg='当前环境不支持H264编码，检查不通过，请检查是否使用现代浏览器，推荐Chrome，Microsoft Edge，FireFox，若仍不支持，请检查当前操作系统版本是否过低，推荐Windows10及以上版本'

            mainBodyElement.remove();
            tipsBodyElement.show();
            $('#tipsContent').html(`<h4 style="color:var(--pico-color-red-500)">${errorMsg}</h4>`);
            supportFlag = false;
             return;
        }

        if(!supportFlag){
        // PushMain();
            TT.error(errorMsg);
            return;
        }
    });

    const livePusher = new TXLivePusher();

    const deviceManager = livePusher.getDeviceManager();
    let cameraDeviceId = null;

    // 获取设备列表
    deviceManager.getDevicesList().then(function(data) {
      data.forEach(function(device) {
        console.log(device.type, device.deviceId, device.deviceName);

        if (device.type === 'video') {
          cameraDeviceId = device.deviceId;
        }
      });

      // 切换摄像头设备
      if (cameraDeviceId) {
        deviceManager.switchCamera(cameraDeviceId);
      }
    });

    
    
    function PushMain(){
        TT.tips('开始监控，考试过程中请不要关闭此页面');

        livePusher.setRenderView('local_video');

            // 设置视频质量
        livePusher.setVideoQuality('720p');
        // 设置音频质量
        livePusher.setAudioQuality('standard');
        // 自定义设置帧率
        livePusher.setProperty('setVideoFPS', 25);

        //     // 打开摄像头
        // livePusher.startCamera();
        // // 打开麦克风
        livePusher.startMicrophone();

            // 采集完摄像头画面后自动推流
        livePusher.startCamera()
        .then(function () {
            console.log('打开摄像头成功');
            console.log('@Html.Raw(Model.pushUrl)')
            livePusher.startPush('@Html.Raw(Model.pushUrl)');
        })
        .catch(function (error) {
         console.log('打开摄像头失败: '+ error.toString());
        });
    }

    function StopPushMain(){

        livePusher.stopPush();

        // 关闭摄像头
        livePusher.stopCamera();
        // 关闭麦克风
        livePusher.stopMicrophone();

    }

</script>
