@{
    Layout = "../Shared/_LayoutContent.cshtml";
}
<div class="layui-row" style="padding:15px">
    <form class="layui-form">
        <div class="layui-row layui-col-space5">
            <div class='layui-input-inline layui-col-md3'>
                <select id='ActivityId' lay-filter='ActivityId'>
                    <option value='0'>请选择活动</option>
                </select>
            </div>

            <div class="layui-input-inline layui-col-md3">
                <select id='ExamId' lay-filter='ExamId'>
                    <option value='0'>请选择考试</option>
                </select>
            </div>

            <div class="layui-input-inline layui-col-md2">
                <select id='ProvinceId' lay-filter='ProvinceId'>
                    <option value='0'>请选择省份</option>
                </select>
            </div>
            <div class="layui-input-inline layui-col-md2">
                <select id='CityId' lay-filter='CityId'>
                    <option value='0'>请选择城市</option>
                </select>
            </div>
            <div class="layui-input-inline layui-col-md2">
                <select id='DistrictId' lay-filter='DistrictId'>
                    <option value='0'>请选择区县</option>
                </select>
            </div>
        </div>
        <div class="layui-row layui-col-space5">
            <div class="layui-input-inline layui-col-md3">
                <select id='ReportStatus' lay-filter='ReportStatus'>
                    <option value='-1'>请选择审核状态</option>
                    <option value='0'>审核通过</option>
                    <option value='2'>待审核</option>
                    <option value='1'>审核不通过</option>
                    <option value='3'>已退款</option>
                </select>
            </div>
            <div class="layui-input-inline layui-col-md3">
                <input class='layui-input' id='keyword' placeholder='考生信息关键字，考号,姓名，邮箱，手机，证件号(大陆证件/手机号支持后四位查询)' />

            </div>

            <div class="layui-input-inline layui-col-md2">
                <div id="tags"></div>
            </div>
            <div class="layui-input-inline layui-col-md3">
                <a href="javascript:;" class="layui-btn layui-btn-normal" onclick="checkReportBatch()"><i class="layui-icon layui-icon-senior"></i>批量审核</a>

                <a href="javascript:;" class="layui-btn" onclick="exportTable()"><i class="layui-icon layui-icon-export"></i>导出</a>
                <a href="javascript:;" class="layui-btn  layui-btn-warm" onclick="MaskReportInfo()"><i class="layui-icon layui-icon-lock"></i>一键脱敏</a>
            </div>
        </div>
    </form>
    <table class="layui-table" lay-filter="table" id="table"></table>

    <div class="layui-bg-gray" id="checkDiv" style="padding: 16px;display:none">

        <div class="layui-card">
            <div class="layui-card-header">报名审核</div>
            <div class="layui-card-body">
                <form class="layui-form" lay-filter="check-report">
                    <div class="layui-row">
                        <div id="reportDetail">
                            <div class="layui-col layui-col-md6">
                                <input type="hidden" id="reportId" name="reportId" />
                                <div class="layui-form-item">
                                    <label class="layui-form-label">考生姓名</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="name" readonly autocomplete="off" class="layui-input layui-bg-gray" />
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label unmask" style="color:#1e9fff;font-weight:bold">证件号码</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="idCard" readonly autocomplete="off" class="layui-input layui-bg-gray" />
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">电子邮箱</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="email" readonly autocomplete="off" class="layui-input layui-bg-gray" />
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label unmask" style="color:#1e9fff;font-weight:bold">联系方式</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="mobile" readonly autocomplete="off" class="layui-input layui-bg-gray" />
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">单位</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="job" readonly autocomplete="off" class="layui-input layui-bg-gray" />
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col layui-col-md6">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">照片</label>
                                    <div class="layui-input-block">
                                        <img alt="photo" src="~/images/avatar.jpg" data-src="/images/avatar.jpg" width="200px" id="photo" />
                                        <input type="hidden" name="fileId" readonly>
                                    </div>

                                </div>
                            </div>
                            <div class="layui-form-item" style="width:80%">
                                <label class="layui-form-label">准考证号</label>
                                <div class="layui-input-block">
                                    <input type="text" name="reportNumber" readonly autocomplete="off" class="layui-input layui-bg-gray" />
                                </div>
                            </div>
                            <div class="layui-form-item" style="width:80%">
                                <label class="layui-form-label">考试科目</label>
                                <div class="layui-input-block">
                                    <input type="text" name="subject" readonly autocomplete="off" class="layui-input layui-bg-gray" />
                                </div>
                            </div>
                            <div class="layui-form-item" style="width:80%">
                                <label class="layui-form-label">报名时间</label>
                                <div class="layui-input-block">
                                    <input type="text" name="createdAt" readonly autocomplete="off" class="layui-input layui-bg-gray" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div id="reportResult">
                            <div class="layui-form-item" style="width:80%">
                                <label class="layui-form-label">审核意见</label>
                                <div class="layui-input-block">
                                    <input type="radio" id="checkStatus" name="checkStatus" lay-filter="checkStatus" value="0" title="通过" lay-verify="required" required>
                                    <input type="radio" id="checkStatus" name="checkStatus" lay-filter="checkStatus" value="1" title="不通过" lay-verify="required" required>
                                </div>
                                <div class="layui-input-block">
                                    <textarea placeholder="请输入意见内容" id="checkRemark" class="layui-textarea" lay-verify="required" required></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <a class="layui-btn save" href="javascript:;" onclick="submitCheckResult()" id="reportResultSubmit">立即提交</a>
                                    <a class="layui-btn layui-bg-gray disabledsave" style="display:none" id="reportResultSubmitDisabled" href="javascript:;">立即提交</a>
                                    <a class="layui-btn layui-bg-purple unmask" href="javascript:;" id="unMask">查看敏感信息</a>

                                    @* <button type="reset" class="layui-btn layui-btn-primary">重置</button> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="layui-bg-gray" id="historyDiv" style="padding: 16px;display:none">
    </div>
</div>

<script type="text/html" id="historyTpl">
    <div class="layui-card">
        <div class="layui-card-header">审核记录</div>
        <div class="layui-card-body">
        {{# layui.each(d,function(index,item){ }}
           <blockquote class="layui-elem-quote">审核人：{{ item.adminName }}；审核结果：{{ item.checkStatus==0?'通过':'未通过' }}；审核时间：{{ item.checkTime }}；审核意见：{{item.checkRemark}}</blockquote>
        {{# }) }}
        </div>
    </div>
</script>

<script type="text/html" id="statusTpl">
    {{# if(d.reportStatus==0){ }}
    <span class="layui-badge layui-bg-green">审核通过</span>
     {{# } else if(d.reportStatus==2){ }}
    <span class="layui-badge layui-bg-orange">待审核</span>
    {{# } else if(d.reportStatus==3){ }}
    <span class="layui-badge layui-bg-cyan">已退款</span>
    {{# } else { }}
    <span class="layui-badge layui-bg-red">审核不通过</span>
    {{# } }}
</script>

<script type="text/html" id="payTpl">
    {{# if(d.orderStatus==0){ }}
    <span class="layui-badge layui-bg-green">已支付</span>
    {{# } else if(d.orderStatus==1){ }}
    <span class="layui-badge layui-bg-orange">待支付</span>
    {{# } else if(d.orderStatus==4){ }}
    <span class="layui-badge layui-bg-cyan">已退款</span>
     {{# } else if(d.orderStatus==3){ }}
    <span class="layui-badge layui-bg-red">交易失败</span>
    {{# } else { }}
    <span class="layui-badge layui-bg-gray">其他</span>
    {{# } }}
</script>

<script type="text/html" id="areaTpl">
    {{ d.provinceName + (!d.cityName?'':d.cityName) + (!d.districtName?'':d.districtName) }}
</script>

<script type="text/html" id="operationTpl">
    {{# if(d.orderStatus!=4){ }}
    <a class="layui-btn layui-btn-primary layui-border-blue save" href="javascript:;" onclick="checkReport('{{ JSON.stringify(d) }}',{{d.LAY_INDEX}})"><i class="layui-icon layui-icon-edit"></i>审核</a>
    <a class="layui-btn layui-btn-primary layui-border-gray .disabledsave" href="javascript:;" style="display:none" disabled><i class="layui-icon layui-icon-edit"></i>审核</a>

    {{#} else{  }}
    <a class="layui-btn layui-btn-primary layui-border-gray" href="javascript:;" onclick="errorMsg('已退款的报名记录无法再次审核')"><i class="layui-icon layui-icon-lock"></i>办结</a>

    {{#} }}
    <a class="layui-btn layui-btn-primary layui-border-orange save" href="javascript:;" onclick="getCheckHistory('{{ d.id }}',{{d.LAY_INDEX}})"><i class="layui-icon layui-icon-list"></i>审核记录</a>

</script>
<script src="~/plugins/js-md5/build/md5.min.js"></script>
<script src="~/plugins/xm-select.js"></script>
<script src="~/web/myxselect.js?v=20241112"></script>
<script>
    let form = layui.form;
    let activityId = '0';
    let examId = '';
    let reportStatus = '-1';
    let provinceId = 0;
    let cityId = 0;
    let districtId = 0;
    let _table = layui.table;
    let reportIds =[];
    let tagId=0;

    let tagObj={
        elem:'tags',
        tips:'请选择标签',
        url:'/system/tags/getitems',
        radio:true,
        result:{},
        func:function(data){
            tagId=0;
            if(data.isAdd)
                tagId = data.change[0].value;
            getReportInfoTable();
        }
    }
    setTimeout(()=>{
        makeXmSelect(tagObj);
    },100)
    

    getSelectItems('/report/activity/getactivitydrops', { rd: randomInt }, 'selectTpl', 'ActivityId', true)

    form.on('select(ActivityId)', (data) => {
        activityId = data.value
        getReportInfoTable()
        getSelectItems('/exam/examination/getexammini', { id: activityId, type: 0, rd: randomInt }, 'selectTpl', 'ExamId', false)
            .then(v => {
                form.render('select')
            })
    })

    form.on('select(ExamId)', (data) => {
        examId = data.value;
        getReportInfoTable()
    })

    form.on('select(ReportStatus)', (data) => {
        reportStatus = data.value
        getReportInfoTable()
    })

    getSelectItems('/system/province/GetProvinceDrops', {}, 'selectTpl', 'ProvinceId');

    form.on('select(ProvinceId)', (data) => {
        provinceId = data.value;
        $('#DistrictId').val('').html('');
        $('#CityId').val('').html('');
        form.render('select');
        cityId = 0;
        districtId = 0;
        if (isNumeric(provinceId) && provinceId != '0')
            getSelectItems('/system/city/GetCityDrops', { provinceId: provinceId }, 'selectTpl', 'CityId', false);
        getReportInfoTable()
    })

    form.on('select(CityId)', (data) => {
        cityId = data.value;
        $('#DistrictId').val('').html('');
        form.render('select');
        districtId = 0;
        if (isNumeric(cityId) && cityId != '0')
            getSelectItems('/system/district/GetDistrictDrops', { cityId: cityId }, 'selectTpl', 'DistrictId', false)
        getReportInfoTable()
    })

    form.on('select(DistrictId)', (data) => {
        districtId = data.value;
        getReportInfoTable()
    })

    autoSearch('keyword', () => {
        getReportInfoTable();

    })

    getReportInfoTable()
     
    function getReportInfoTable() {
        var params = {
            url: '@Url.Action("GetReportInfos")',
            elem: '#table',
            where: makeWhereJson(),
            size: 'lg',
            page: true,
            cols: [ //表头
                //{ title: '序号', templet: '#indexTpl', width: 120 }
                { field: 'id', title: '报名id', type: 'checkbox' }
                , { field: 'name', title: '姓名', width: 100 }
                // , { field: 'accountName', title: '账号', width: 100 }
                , { field: 'securityIdCard', title: '证件号', width: 140 }
                // , { field: 'reportNumber', title: '考号', width: 160 }
                , { field: 'subject', title: '报考内容' }
                , { field: 'email', title: '邮箱', width: 120 }
                , { field: 'securityMobile', title: '电话', width: 120 }
                , { templet: '#areaTpl', title: '地域', width: 160 }
                , { templet: '#statusTpl', field: 'reportStatus', title: '报名状态', width: 120 }
                , { templet: '#payTpl', field: 'orderStatus', title: '交费状态', width: 120 }

                , { field: 'createdAt', title: '报名时间' }
                , { title: '操作', templet: '#operationTpl', width: 280 }
            ],
            height: 630
        }
        getTable(params);
       
        // _table.on('checkbox(table)',function(obj){
        //     let checkedRows = _table.checkStatus('table');
        //    // console.log(checkedRows)
        //     reportIds = checkedRows.data.map(u=>u.id);
        //     //console.log(reportIds);
        // })
    }

    function makeWhereJson() {
        whereJsonStr = {
            'Logic': 'And',
            'Filters': [{
                'Field': 'a.Id',
                'Operator': 'NotEqual',
                'Value': 0
            }]
        };
        if (activityId != '0') {
            whereJsonStr.Filters.push({
                'Field': 'ActivityId',
                'Operator': 'Equal',
                'Value': activityId
            });
        }
        if (reportStatus != '-1') {
            whereJsonStr.Filters.push({
                'Field': 'ReportStatus',
                'Operator': 'Equal',
                'Value': reportStatus
            })
        }
        if (examId) {
            whereJsonStr.Filters.push({
                'Field': 'ExamId',
                'Operator': 'Equal',
                'Value': examId
            });
        }
        if (provinceId > 0) {
            whereJsonStr.Filters.push({
                'Field': 'a.ProvinceId',
                'Operator': 'Equal',
                'Value': provinceId
            });
        }
        if (cityId > 0) {
            whereJsonStr.Filters.push({
                'Field': 'a.CityId',
                'Operator': 'Equal',
                'Value': cityId
            });
        }
        if (districtId > 0) {
            whereJsonStr.Filters.push({
                'Field': 'a.DistrictId',
                'Operator': 'Equal',
                'Value': districtId
            });
        }
        if (tagId > 0) {
            whereJsonStr.Filters.push({
                'Field': 'a.TagId',
                'Operator': 'Equal',
                'Value': tagId
            });
        }
        let keyword = jVal('keyword');
        let stringType = identifyStringType(keyword);
        if (stringType == 'idCard') {
            whereJsonStr.Filters.push({
                'Field': 'a.HashIdCard',
                'Operator': 'Equal',
                'Value': md5(keyword)
            });
        }
        else if (stringType == 'email') {
            whereJsonStr.Filters.push({
                'Field': 'a.Email',
                'Operator': 'Equal',
                'Value': keyword
            });
        }
        else if (stringType == 'phone') {
            whereJsonStr.Filters.push({
                'Field': 'a.HashMobile',
                'Operator': 'Equal',
                'Value': md5(keyword)
            });
        }
        else if (stringType == 'pureChinese') {
            whereJsonStr.Filters.push({
                'Field': 'a.Name',
                'Operator': 'Equal',
                'Value': keyword
            });
        }
        else if (stringType == 'pureNumber') {
            whereJsonStr.Filters.push({
                'Logic': 'Or',
                'Filters': [{
                    'Field': 'SuffixIdCard',
                    'Operator': 'Equal',
                    'Value': keyword
                }, {
                    'Field': 'SuffixMobile',
                    'Operator': 'Equal',
                    'Value': keyword
                }]
            });
        }
        else if (stringType == 'string') {
            whereJsonStr.Filters.push({
                'Logic': 'Or',
                'Filters': [{
                    'Field': 'ReportNumber',
                    'Operator': 'Contains',
                    'Value': keyword
                }, {
                    'Field': 'a.Job',
                    'Operator': 'Equal',
                    'Value': keyword
                }]
            });
        }
        return { 'whereJsonStr': JSON.stringify(whereJsonStr), 'orderby': 'Id', 'isAsc': false, 'rd': randomInt };
    }

    async function exportTable() {
        let whereJson = makeWhereJson();
        let formData = new FormData();
        formData.append('__RequestVerificationToken', requestToken);
        formData.append('whereJsonStr', whereJson.whereJsonStr)
        formData.append('adminId', atob(getCookie('userId')))
        let ret = await request('POST', '@Url.Action("ExportReportInfos")', formData, CT);
        if (ret.code == 0) {
            successMsg('导出成功', (data) => {
                window.open(ret.data)
            })
            return;
        }
        errorMsg(ret.msg)
    }

    //-----------------------------弹出层操作------------------------------//
    let checkStatus = 2;
    let currTableIndex = -1;
    let selectReportObj = {};
    form.on('radio(checkStatus)', data => {
        if (selectReportObj.reportStatus != 3 && data.value != selectReportObj.reportStatus) {
            $('#reportResultSubmit').show();
            $('#reportResultSubmitDisabled').hide();
        } else {
            $('#reportResultSubmit').hide();
            $('#reportResultSubmitDisabled').show();
        }
        checkStatus = data.value;
        if (data.value == '0') {
            jHtmlSet('checkRemark', '审核通过');
        } else if (data.value == '1') {
            jHtmlSet('checkRemark', '审核不通过');
        }
    })

    function checkReport(objStr, index) {
        $('#reportResultSubmit').hide();
        $('#reportResultSubmitDisabled').show();
        currTableIndex = index;
        let item = JSON.parse(objStr);
        selectReportObj = item;
        if (checkStatus != 2) {
            selectReportObj.reportStatus = checkStatus;
        } else {
            checkStatus = selectReportObj.reportStatus;
        }
        _table.setRowChecked('table', {
            index: index
        });
        layer.closeAll();
        form.val('check-report', {
            'name': item.name,
            'idCard': item.securityIdCard,
            'email': item.email,
            'mobile': item.securityMobile,
            'job': item.job,
            'reportNumber': item.reportNumber,
            'subject': item.subject,
            'createdAt': item.createdAt,
            'reportId': item.id,
            'checkStatus': item.reportStatus,

        })
        $('#photo').attr('src', $('#photo').data('src'))
        if(item.photo)
            $('#photo').attr('src',item.photo)
        layer.open({
            type: 1,
            title: false,
            shade: false, // 不显示遮罩
            area: ['80%', '80%'],
            content: $('#checkDiv'), // 捕获的元素
            end: function () {
                //取消选中
                _table.setRowChecked('table', {
                    index: 'all', // 所有行
                    checked: false // 此处若设置 true，则表示全选
                });
            }
        });


    }

    function checkReportBatch(){
        
       let promptIndex = layer.prompt({
            formPtye:2,
            value: '',
            title: '请输入审核结果',
            area:['800px', '350px'],
            btn:['审核通过','审核不通过','关闭'],           
            btn2: function(value, index, elem) {
                if(value === '') {
                    layer.msg('审核意见不可为空')                    
                    return elem.focus();
                }
                layer.close(promptIndex)
                submitCheckResult('1',value)                
            }
        },function(value, index, elem){
            if(value === '') {
                layer.msg('审核意见不可为空')
                return elem.focus();
            }
            layer.close(promptIndex)
            submitCheckResult('0',value)   
          })
    }

     function submitCheckResult(_checkStatus,_checkRemark) {
        let checkedRows = _table.checkStatus('table');
        reportIds = checkedRows.data.map(u=>u.id);
        console.log(reportIds);
        if(reportIds.length==0){
            errorMsg('未选中任何记录');
            
            return;
        }
        layer.confirm('即将审核<b>'+reportIds.length+'</b>条记录，确定要执行该操作吗',{icon:0},async function(index){
            if(!_checkStatus)//单独审批
                _checkStatus = checkStatus;
            if(!_checkRemark)//单独审批
                _checkRemark = jVal('checkRemark');
            loadingMsg();
            let formData = new FormData();
            formData.append('__RequestVerificationToken', requestToken);
            //formData.append('reportId', jVal('reportId'));
            reportIds.forEach((reportId,index)=>{
                formData.append(`reportIds[${index}]`, reportId);
            })
            //formData.append('reportIds', reportIds);
            formData.append('checkResult', _checkStatus);
            formData.append('checkRemark', _checkRemark);
            selectReportObj.reportStatus = checkStatus;
            //let ret = await request('POST', '/report/reportinfo/CheckReportInfo', formData, CT);
            let ret = await request('POST', '/report/reportinfo/CheckReportInfoBatch', formData, CT);
            if (ret.code != 0) {
                errorMsg('审核失败' + ret.msg);
                return;
            }
            successMsg('审核成功', () => {
                layer.closeAll();
                
                //取消选中
                _table.setRowChecked('table', {
                    index: 'all', // 所有行
                    checked: false // 此处若设置 true，则表示全选
                });
                if (currTableIndex >= 0) {
                    // 更新指定行数据
                    _table.updateRow('table', {
                        index: currTableIndex,
                        data: {
                            reportStatus: checkStatus
                        }
                    });
                }else{
                    getReportInfoTable();
                }
            })
        },function(index){
            warnMsg('已取消审核操作')
            return;
        })
        

    }

    function getCheckHistory(reportId, index) {
        layer.closeAll();
        currTableIndex = index;
        let table = layui.table;
        table.setRowChecked('table', {
            index: index
        });
        axios.get('/report/ReportCheckHistory/GetCheckHistory', {
            params: {
                'reportId': reportId
            }
        }).then(data => {
            let json = data.data
            if (json.code != 0) {
                errorMsg('数据获取异常，请稍后再试');
                return;
            }
            if (json.data.length == 0) {
                warnMsg('无审核记录');
                //取消选中
                table.setRowChecked('table', {
                    index: 'all', // 所有行
                    checked: false // 此处若设置 true，则表示全选
                });
                return;
            }
            renderTpl('historyTpl', 'historyDiv', json.data, false);
            layer.open({
                type: 1,
                title: false,
                shade: false, // 不显示遮罩
                area: ['80%', '80%'],
                content: $('#historyDiv'), // 捕获的元素
                end: function () {
                    //取消选中
                    table.setRowChecked('table', {
                        index: 'all', // 所有行
                        checked: false // 此处若设置 true，则表示全选
                    });
                }
            });
        })


    }

    function MaskReportInfo() {
        layer.confirm('执行脱敏操作后，证件号，手机号将会加密保存，并只显示部分前缀和后缀，若要获取完整信息，需联系超管进行解密操作，是否继续', { icon: 0 }, async () => {
            loadingMsg();
            let formData = new FormData();
            formData.append('__RequestVerificationToken', requestToken);
            let ret = await request('POST', '/report/reportinfo/MaskReportInfo', formData, CT);
            if (ret.code != 0) {
                errorMsg(ret.msg);
                return;
            }
            successMsg(ret.msg)
        })

    }

    async function DecryptReportInfo(reportId){
        layer.load();
        let formData = new FormData();
        formData.append('__RequestVerificationToken', requestToken);
        formData.append('verifyCode', '');
        formData.append('reportId',reportId);
        let ret = await request('POST', '/report/reportinfo/DecryptMaskInfo', formData, CT);
        if (ret.code != 0) {
            errorMsg(ret.msg);
            return;
        }
        layer.closeAll('loading');
        layer.alert(`身份证号: 【${ret.data.idCard}】<br /> 联系方式【${ret.data.mobile}】`,{icon:4});
    }

    $('.unmask').click(async ()=>{
        // let reportId = jVal('reportId');
        await DecryptReportInfo(jVal('reportId'))
    })

</script>

