@page
@model Magic.Guangdong.Exam.Client.Pages.Exam.HistoryModel
@{
}
<main class="container">
    <h3 class="pico-color-azure-500">我的答题记录：</h3>
    <p>
        <a id="btnBack" href="javascript:history.go(-1)">
            <svg t="1713870927961" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="9962" width="16" height="16"><path d="M927.2 610.5c0 143-116.3 259.4-259.3 259.4H196.1c-12.9 0-23.4-10.4-23.4-23.4 0-12.9 10.4-23.4 23.4-23.4h471.7c117.2 0 212.6-95.4 212.6-212.6S785 397.8 667.8 397.8h-458l199.6 199.6c9.1 9.1 9.1 23.9 0 33-4.6 4.6-10.5 6.8-16.5 6.8s-11.9-2.3-16.5-6.8L137 391.1c-9.1-9.1-9.1-23.9 0-33l239.6-239.5c9.1-9.1 23.9-9.1 33 0s9.1 23.9 0 33L210 351.2h457.9c143 0 259.3 116.3 259.3 259.3z" p-id="9963" fill="#524ED2"></path></svg>
            返回
        </a>
    </p>
    @{
        if (!Model.myExamHistories.Any())
        {
            <article style="text-align:center;">
                <h4 class="pico-color-pumpkin-300" style="margin:12px">没有任何答题记录</h4>
            </article>
            return;
        }
        foreach (var item in Model.myExamHistories)
        {
            <article>
                <p>参与考试：@item.examTitle</p>
                <p>练习试卷：@item.paperTitle</p>
                <p>测评得分：@(item.openResult==0?"待公布":item.score)</p>
                <p>准考证号：@item.idNumber</p>
                <p>考试类型：@(item.examType==1?"刷题练习":"正式考试")</p>
                <p>考试时间：@item.CreatedAt</p>
                @{
                    if (item.examType == 1)
                    {
                        <p>练习次数: @(item.testedTime+1)</p>
                        <p>
                            <a href="/exam/detail?urid=@item.recordId">
                                <svg t="1713857457231" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5122" width="32" height="32"><path d="M776.854 776.328l57.87 57.87a1 1 0 0 1 0 1.414l-41.074 41.073a1 1 0 0 1-1.414 0l-57.87-57.869c-23.747 15.728-52.224 24.888-82.841 24.888-82.963 0-150.217-67.255-150.217-150.217 0-82.963 67.254-150.218 150.217-150.218 82.963 0 150.217 67.255 150.217 150.218 0 30.616-9.16 59.094-24.888 82.841zM305.868 358.273c-16.621 0-30.095-13.352-30.095-29.823 0-16.47 13.474-29.823 30.095-29.823 16.62 0 30.095 13.352 30.095 29.823 0 16.47-13.474 29.823-30.095 29.823z m0 167.006c-16.621 0-30.095-13.352-30.095-29.823 0-16.47 13.474-29.822 30.095-29.822 16.62 0 30.095 13.352 30.095 29.822s-13.474 29.823-30.095 29.823z m0 167.006c-16.621 0-30.095-13.352-30.095-29.823 0-16.47 13.474-29.822 30.095-29.822 16.62 0 30.095 13.352 30.095 29.822 0 16.471-13.474 29.823-30.095 29.823z m67.409-393.658h303.506a1.2 1.2 0 0 1 1.2 1.2v57.246a1.2 1.2 0 0 1-1.2 1.2H373.277a1.2 1.2 0 0 1-1.2-1.2v-57.246a1.2 1.2 0 0 1 1.2-1.2z m0 167.007h303.506a1.2 1.2 0 0 1 1.2 1.2v57.245a1.2 1.2 0 0 1-1.2 1.2H373.277a1.2 1.2 0 0 1-1.2-1.2v-57.245a1.2 1.2 0 0 1 1.2-1.2z m0 167.006h93.227a1.2 1.2 0 0 1 1.2 1.2v57.245a1.2 1.2 0 0 1-1.2 1.2h-93.227a1.2 1.2 0 0 1-1.2-1.2V633.84a1.2 1.2 0 0 1 1.2-1.2z m278.248 150.977c49.778 0 90.13-40.353 90.13-90.13 0-49.778-40.352-90.13-90.13-90.13s-90.13 40.352-90.13 90.13c0 49.777 40.352 90.13 90.13 90.13zM238 751h241v60H208c-16.569 0-30-13.431-30-30V211c0-16.569 13.431-30 30-30h539c16.569 0 30 13.431 30 30v290.823h-60V241H238v510z" fill="#524ED2" p-id="5123"></path></svg>
                                详情
                            </a>
                        </p>
                    }
                }
                
            </article>
        }
    }
</main>