@page
@model IndexModel
@{
    ViewData["Title"] = "首页";
}

<main class="container">

    <article id="mainBody">
        <header>
            <h5 style="text-align:center" class="gradient-text">
                @ViewData["ActivityName"] <br />
                在线测评<span id="currStage"></span>
            </h5>
        </header>
        <form>
            <label class="examItem" for="exam">请选择要参与的在线测评 <u id="examRecords" style="float:right;color:#039be5;display:none">答题记录</u></label>
            <select id="exam" class="examItem" required>
                <option value="">请选择</option>
            </select>

            <label for="info" class="examItem">在线测评时间</label>
            <input type="text" id="info" class="examItem" placeholder="请选择要参与的测评" disabled />

            <label for="idNumber">选手证件号码</label>
            <input type="text" id="idNumber" name="idNumber" autocomplete="off" placeholder="请输入赛队申报的证件号码" required>
            <small style="margin-top:10px">注意：每个赛队仅需参与一次在线测评；多人赛队，请输入第一选手证件号码。</small>

            <label for="specialId" id="specialId" style="font-size:smaller;color:#f4511e">
                <input type="checkbox" id="specialId" name="specialId">
                @* 使用港澳身份证、国外护照、通行证等进行的申报，请勾选此项后再输入证件号码 *@
                非中国大陆身份证报名活动，请勾选此项（大陆身份证不要勾选）
            </label>
            <br />
            <a id="CreateMyExam" href="javascript:;" aria-busy="false" role="button" style="width:100%" class="secondary">提交</a>
            <a id="facelogin" href="javascript:;" role="button" class="outline" style="width:100%;margin-top:12px;margin-bottom:12px;">刷脸登录(beta)</a>

            <button id="CreateMyExam2"
                    class="primary"
                    style="display:none"
                    data-target="modal-example"
                    onClick="toggleModal(event)">
                验证通过，开始答题
            </button>

            <a id="btnLogout" onclick="Logout()" href="javascript:;" role="button" style="width:100%;margin-top:12px;margin-bottom:12px;background-color:#e53935;border-color:#e53935;display:none">退出登录</a>

            <small>大赛组委会保证输入的证件号码仅用于在线测评验证</small>
            <p style="text-align:center;color:#039be5;margin-top:20px;margin-bottom:-30px;font-size:smaller;display:none"><a id="detectiveLink" href="/apply/test"><u>页面显示有问题?</u></a></p>
            <dialog id="modal-example">
                <article>
                    <a href="#close"
                       aria-label="Close"
                       class="close"
                       data-target="modal-example"
                       onClick="toggleModal(event)">
                    </a>
                    <h3 style="text-align:center">信息确认</h3>
                    <p id="userInfo">
                        选手姓名： <u id="memberName"> </u><br />
                        选手性别： <u id="sex"> </u><br />
                        参赛赛项： <u id="programType"> </u><br />
                        参赛赛区： <u id="area"></u><br />
                        赛队编号： <u id="projectNo"></u>
                    </p>
                    <p>
                        <small>
                            请核对信息是否正确，如无问题，请点击【去答题】；
                            如有问题，请马上联系本赛区管理单位。<u style="color:orangered">注意，测评开始后手机尽量不要锁屏，直到完成测评</u>，否则可能影响赛队在线测评成绩！
                            <u style="color:orangered">若答题过程中出现无法保存，无法交卷等情况，请尝试及时刷新页面.</u>
                        </small>
                    </p>
                    <footer>
                        <a href="#cancel"
                           role="button"
                           class="secondary"
                           data-target="modal-example"
                           onClick="toggleModal(event)">
                            取消
                        </a>
                        <a id="btnConfirm"
                           href="#confirm"
                           role="button"
                           data-target="modal-example"
                           onClick="ConfirmMyPaper()">
                            去答题
                        </a>
                        <a id="btnConfirm2"
                           style="display:none"
                           href="#confirm"
                           role="button"
                           aria-busy="true"
                           data-target="modal-example">
                            抽卷中
                        </a>
                    </footer>
                </article>
            </dialog>
        </form>
    </article>

    <article id="tipsBody" style="display:none">
        <div id="tipsContent">
        </div>
        <footer>
            <a href="javascript:;" id="btnRefresh" role="button" class="outline" style="width:100%">刷新</a>
        </footer>
    </article>
</main>

<script type="text/html" id="examTpl">
    {{# layui.each(d,function(index,item){ }}
        {{# if(item.status==1){ }}
            <option value="{{ item.value }}" data-span="{{item.startTime}} - {{item.endTime}}">{{item.title}}</option>
        {{# } else { }}
            <option value="{{ item.value }}" data-span="{{item.startTime}} - {{item.endTim}}" disabled>{{item.title}}(不在考试时间范围内)</option>
        {{# } }}
    {{# }) }}
</script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@* <script src="~/web/exam/Index.js"></script> *@
<script>
    
    

    let associationId = getUrlQueryParams('activityId');
    let examId = '';
    let groupCode = '';
    async function getExams() {
        // let paramsJson = {
        //     'associationId': associationId,
        //     'examId': examId,
        //     'groupCode': groupCode,
        //     '__RequestVerificationToken': requestToken
        // };

        let formData = objectToFormData(makeWhereJson());
        let ret = await request('POST', '@Url.Page("Index")?handler=GetExams', formData, { 'Content-Type': 'multipart/form-data' })
        if(ret.code==0){
            renderTpl("examTpl", "exam", ret.data, examId == '');
        }
        if (examId != '')
            jValSet("info", formatTime(json.data[0].startTime, json.data[0].endTime))

    }
    getExams();

    $("#exam").on('change', v => {
        var span = $("#exam").find('option:selected').data("span")
        //console.log(span)
        jValSet("info", span.replaceAll('T', ' ').replaceAll(' - ',' ~ ').replaceAll('-', '/'));
        //if (localStorage.getItem("lastIdNumber")) {
        //    getApplyMemberInfo(jVal('idNumber'), associationId)
        //}
        if (span && jVal("idNumber")) {
            checkIdCard(jVal("idNumber"))
        }
    })

    function makeWhereJson() {
        let whereJsonStr = {
            'Logic': 'And',
            'Filters': [{
                'Field': 'IsDeleted',
                'Operator': 'Equal',
                'Value': 0
            }]
        };
        if (associationId) {
            whereJsonStr.Filters.push({
                'Logic': 'And',
                'Filters': [{
                    'Field': 'associationId',
                    'Operator': 'Equal',
                    'Value': associationId
                }]
            });
        }
        if (examId) {
            whereJsonStr.Filters.push({
                'Logic': 'And',
                'Filters': [{
                    'Field': 'examId',
                    'Operator': 'Equal',
                    'Value': examId
                }]
            });
        }
        if (groupCode) {
            whereJsonStr.Filters.push({
                'Logic': 'And',
                'Filters': [{
                    'Field': 'groupCode',
                    'Operator': 'Equal',
                    'Value': groupCode
                }]
            });
        }

        return { 'whereJsonStr': JSON.stringify(whereJsonStr), 'orderby': 'id', 'pageIndex': 1, 'pageSize': 1000 };
    }


    function formatTime(start, end) {
        let finalTime = start + '-' + end
        let startTime = new Date(start)
        let endTime = new Date(end)
        if (endTime - startTime < 86400000) {
            let hour = endTime.getHours() < 10 ? "0" + endTime.getHours() : endTime.getHours();
            let minute = endTime.getMinutes() < 10 ? "0" + endTime.getMinutes() : endTime.getMinutes();
            finalTime = start + '-' + hour + ":" + minute
        }
        return finalTime;
    }
</script>
