@page
@model Magic.Guangdong.Exam.Client.Pages.Exam.PaperModel
@{
}
<style>
    .parent {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div1 {
        grid-area: 1 / 1 / 6 / 6;
    }

    .div2 {
        grid-area: 1 / 6 / 6 / 7;
        margin-left:20px;
        margin-top:-10px
    }
</style>
<main class="container">

    <h4 id="paperTitle"></h4>
    <div class="parent">
        <article class="div1" id="main">

        </article>
        <aside class="div2">
            <nav>
                <ul>
                    <li>
                        <button id="submitPaper"
                                style="cursor:pointer;border-color:white"
                                class="pico-background-red-500 container-fluid"
                                data-target="modal-submit"
                                onClick="toggleModal(event)">
                            交卷
                        </button>
                        <button id="submitPaperDisabled"
                                class="pico-background-grey-300 container-fluid"
                                style="display:none;border-color:white;">
                            已交卷
                        </button>
                    </li>
                    @* <li>
                        <p class="pico-background-red-500" style="color:white;font-weight:bolder">提示：</p>
                    </li> *@
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16" style="margin-bottom:5px;">
                            <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z" />
                            <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z" />
                            <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
                        </svg>&nbsp;
                        <strong>
                            <u id="time">00:00:00</u>
                        </strong>
                       
                    </li>
                    
                    <li>
                        <details role="list" dir="rtl">
                            <summary aria-haspopup="listbox" role="link">答题卡</summary>
                            <ul role="listbox" id="answerSheet">
                            </ul>
                        </details>
                    </li>
                   
                </ul>
            </nav>
        </aside>
       
    </div>

    <!-- Progress -->
    @* <progress id="answerProgress"></progress> *@
    <dialog id="modal-submit">
        <article>

            <header>注意</header>
            <p id="userInfo">
                本场测评一共 <u id="totalCnt" style="color:#1e88e5;font-weight:bolder">0</u> 道题，已提交 <u id="submitCnt" style="color:#f4511e;font-weight:bolder">0</u> 道题；<br />确认交卷后，将无法再进行修改，确定交卷吗？
            </p>

            <footer>
                <a href="#cancel"
                   role="button"
                   id="btnCancel"
                   class="secondary"
                   data-target="modal-submit"
                   onClick="toggleModal(event)">
                    再想想
                </a>
                <a href="#confirm"
                   role="button"
                   id="btnSubmit"
                   style="background-color:#1e88e5;border-color:#1e88e5"
                   data-target="modal-submit"
                   onClick="SubmitMyPaper(1)">
                    确定
                </a>
                <a href="#confirm"
                   role="button"
                   id="btnSubmit2"
                   style="background-color:#43a047;border-color:#43a047;display:none"
                   data-target="modal-submit">
                    确定
                </a>
            </footer>
        </article>
    </dialog>


</main>
<script type="text/html" id="answerSheetTpl">
    {{# layui.each(d, function(index, item){ }}

    {{# if(answerArr && answerArr.filter(u=>u.questionId==item.id).length>0){ }}
        <li><a href="javascript:;" style="color:#66bb6a" onclick="renderQuestion({{index}})">第{{index + 1}}题 </a></li >
    {{# } else { }}
        <li><a href="javascript:;"  onclick="renderQuestion({{index}})">第{{index + 1}}题 </a></li >
    {{# } }}
    {{# }) }}

</script>

<script type="text/html" id="mainTpl">

    <header>
       {{# if(d.title.startsWith('<p>') ){ }}
            <div id="questionTitle">{{d.title.replace('<p>','<p>'+d.orderIndex+'、')}}</div>
            <kbd style="background-color:#66bb6a;">{{d.typeName}}({{d.itemScore}}分)</kbd>
       {{#} else{ }}
            <div id="questionTitle">{{d.orderIndex}}、{{d.title}}</div>
            <kbd style="background-color:#66bb6a;margin-top:10px;">{{d.typeName}}({{d.itemScore}}分)</kbd>
       {{#} }}
    </header>

    <div id="options" >
        {{# layui.each(d.items,function(index,item){ }}

            {{# let currItems = answerArr.filter(u=>u.questionId==d.id) }}
            {{# let optionContent = item.code }}
            {{# if(item.descriptionTxt) optionContent+="、"+item.descriptionTxt; }}
            {{# if(currItems.length==1&&currItems[0].userAnswer.indexOf(item.id)>-1 ){ }}
                <a role="button" style="margin-top:1vh;width:100%" href="javascript:;"  class="correct option" data-itemid="{{item.id}}" data-questionid="{{d.id}}" data-single="{{d.singleAnswer==1}}" data-tooltip="{{ optionContent }}">{{ optionContent }}</a>
            {{#} else { }}
                 <a role="button"style="margin-top:1vh;width:100%" href="javascript:;"  class="secondary outline option" data-itemid="{{item.id}}" data-questionid="{{d.id}}" data-single="{{d.singleAnswer==1}}" data-tooltip="{{optionContent}}">{{optionContent}}</a>

            {{#} }}

        {{# }) }}
    </div>
    <footer>
        {{# if(d.orderIndex > 1){ }}
            <a href="javascript:;" onclick="renderQuestion({{d.orderIndex-2}})" id="previous" role="button" class="contrast outline">上一题({{d.orderIndex-1}})</a>
        {{# } else { }}
            <a href="javascript:;" disabled id="previous" role="button" class="contrast outline">上一题</a>
        {{# } }}

        {{# if(d.orderIndex>=questionCnt){ }}
            <a href="javascript:;"  id="next" role="button" class="outline" data-target="modal-submit" onClick="toggleModal(event)" style="float:right;border-color:#e53935;color:#e53935">交卷</a>
        {{#} else { }}
            <a href="javascript:;" onclick="renderQuestion({{d.orderIndex}})" id="next" role="button" class="outline" style="float:right">下一题({{d.orderIndex+1}})</a>
        {{# } }}


    </footer>
</script>