<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 广东教育协会</title>

    <link type="image/x-icon" rel="shortcut icon" href="/img/guangdong_logo-32.ico" />
    @* <link href="~/lib/layui/css/layui.css" rel="stylesheet" /> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/lib/pico2/css/pico.indigo.min.css" rel="stylesheet" />
    <link href="~/lib/pico2/css/pico.colors.min.css" rel="stylesheet" />
    <script src="~/lib/pico2/js/modal.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>
    <link href="~/plugins/toastify/toastify.css" rel="stylesheet" />
    <script src="~/plugins/toastify/toastify.js"></script>
    <script src="~/web/tool.js" asp-append-version="true"></script>
    <script src="~/web/base.js" asp-append-version="true"></script>
    <script src="~/web/requestapi.js" asp-append-version="true"></script>
    <script src="~/lib/layui/layui.js"></script>
    <script src="~/web/layextend.js"></script>
    <style>
        .page-footer {
            display: flex;
            flex-direction: column;
            min-height: 560px; /* 或者使用具体的 height 或 max-height 值 */
            overflow-y: auto; /* 使内容区可滚动，避免底部元素遮挡内容 */
        }

        /* .content 内的其他元素样式，确保它们在内容区内正常显示，不被底部元素遮挡 */

        .bottom-element {
            margin-top: auto; /* 使底部元素自动推到底部 */
        }
    </style>
    <script>
        let requestToken = $('@Html.AntiForgeryToken()').val();
        let accountId = getCookie('accountId');
        const CT = { 'Content-Type': 'multipart/form-data' };
        let shouldSubmit = false;
        let idToken='';
    </script>
    <script type="text/html" id="selectTpl">
        <option value="0">请选择</option>
        {{# layui.each(d,function(index,item){}}
        <option value="{{ item.value }}">{{item.text}}</option>
        {{# }) }}
    </script>
</head>
<body>
    
    <header class="container">
        @* <img src="~/img/header-ht-high.jpg" /> *@

        <nav>
            <ul>
                <li><strong>广东教育协会</strong></li>
            </ul>
            <ul>
                <li id="AnswerCard" style="display:none"><a href="#" class="secondary">答题卡</a></li>
                <li>
                    <details class="dropdown">
                        <summary>
                            我的账户
                        </summary>
                        <ul dir="rtl">
                            <li><a href="https://i.xiaoxiaotong.org/">个人中心</a></li>
                            <li><a href="/activity/index">活动首页</a></li>
                            <li><a href="/report/index">报名记录</a></li>
                            <li><a id="examHistoryHref" href="javascript:;">考试成绩</a></li>
                            <li><a href="javascript:;" id="btnLogout">退出账号</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </nav>
    </header>

    @RenderBody()
    <footer class="page-footer" style="padding: 0;">
        <div class="bottom-element">
            <img src="~/img/footer-bg.jpg" />
        </div>
        
    </footer>

    <script>
        checkLoginStatus();

        $("#btnLogout").click(function () {
            deleteCookie("accountId");
            deleteCookie("accountName");
            location.href = "/account/Logout?idToken=" + idToken + "&redirectUrl=" + location.protocol + "//" + location.host + location.pathname;
        });
        if (accountId)
            $('#examHistoryHref').attr('href', '/exam/history?accountId=' + accountId);
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>