@{
    Layout = "../Shared/_LayoutContent.cshtml";
}
<div class="layui-card layui-panel">
    <div style="padding:15px">
        <form class="layui-form">
            <div class="layui-form-item layui-row layui-col-space16">
                <div class="layui-col-md3">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-search"></i>
                        </div>
                        <input type="text" id="keyword" placeholder="关键字" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-note"></i>
                        </div>
                        <select id="activityId" lay-filter="activityId">
                            <option value="">请选择归属活动</option>
                            
                        </select>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-tips"></i>
                        </div>
                        <select id="status" lay-filter="status">
                            <option value="">状态</option>
                            <option value="0">正常</option>
                            <option value="1">禁用</option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-input-wrap">
                        <a href="@Url.Action("create")" class="layui-btn"><i class="layui-icon layui-icon-add-1"></i>新建模板</a>
                    </div>
                </div>
            </div>
        </form>

        <hr />
        <table class="layui-table" lay-filter="table" id="table"></table>
    </div>
</div>
<script type="text/html" id="operationTpl">
    <a class="layui-btn layui-btn-primary layui-border-blue" href="/cert/certtemplate/edit?id={{d.id}}"><i class="layui-icon layui-icon-edit"></i>编辑</a>
    <a class="layui-btn layui-btn-primary layui-border-orange" href="javascript:;" onclick="CloneTemplate({{d.id}})"><i class="layui-icon layui-icon-template-1"></i>克隆</a>

    <a class="layui-btn layui-btn-primary layui-border-red" href="javascript:;" onclick="removeItem({router:'/cert/certtemplate/remove',removeId:'{{d.id }}',refresh:false,callback:()=>{refreshRandomInt();getTemplateTable();} })"><i class="layui-icon layui-icon-delete"></i>删除</a>

</script>
<script type="text/html" id="statusTpl">
    {{# if(d.status==0){ }}
    <span class="layui-badge layui-bg-blue">正常</span>
    {{# } else { }}
    <span class="layui-badge">禁用</span>
    {{# } }}
</script>

<script type="text/html" id="lockTpl">
    {{# if(d.isLock==0){ }}
    <span class="layui-badge layui-bg-blue">未锁定</span>
    {{# } else { }}
    <span class="layui-badge layui-bg-gray">锁定</span>
    {{# } }}
</script>

<script type="text/html" id="typeTpl">
    {{# if(d.type==0){ }}
    <span class="layui-badge layui-bg-blue">图片</span>
    {{# } else if(d.type==1){ }}
    <span class="layui-badge">PDF</span>
    {{# } else { }}
    <span class="layui-badge layui-bg-purple">其他</span>
    {{# } }}
</script>

<script>
    let form = layui.form;
    let table = layui.table;
    let pageElem = $(".layui-laypage-skip input");
    let currPage = 0;
    
    form.on('select(status)', (data) => {
        getTemplateTable()
    })

    form.on('select(activityId)', (data) => {
        getTemplateTable()
    })


    autoSearch('keyword', function (value) {
        getTemplateTable()
    })

    getTemplateTable()

    getSelectItems('/report/activity/getactivitydrops', { rd: randomInt }, 'selectTpl', 'activityId', true)
        .then(v => {
            //associationId = selectRet[0].value
            form.render('select')

        })

    function getTemplateTable() {
        var params = {
            url: '@Url.Action("GetTemplates")',
            elem: '#table',
            where: makeWhereJson(),
            size: 'lg',
            page: true,
            cols: [ //表头
                { title: '序号', templet: '#indexTpl', width: 120 }
                //{ field: 'id', title: '角色id', type: 'checkbox' }
                , { field: 'title', title: '模板名称（可编辑）', width: 400, edit: 'text' }

                , { templet: '#typeTpl', title: '类型', width: 150 }
                , { templet: '#lockTpl', title: '锁定状态', width: 150 }
                , { templet: '#statusTpl', title: '模板状态', width: 150 }
                , { field: 'createdAt', title: '创建时间', width: 300 }
                , { title: '操作', templet: '#operationTpl' }
            ],
            height: 630,
            callback: function () {
                if (currPage > 0) {
                    pageElem.val(currPage);
                    $(".layui-laypage-btn").click()
                }
            }
        }

        table.on('edit(table)', async (obj) => {
            // var field = obj.field; // 得到修改的字段
            // var value = obj.value; // 得到修改后的值
            // var oldValue = obj.oldValue; // 得到修改前的值 -- v2.8.0 新增
            // var data = obj.data; // 得到所在行所有键值
            // var col = obj.getCol(); // 得到当前列的表头配置属性 -- v2.8.0 新增
            let data = obj.data;
            data.__RequestVerificationToken = requestToken;
            let ret = await request('POST', '@Url.Action("Edit")', objectToFormData(data), CT);
            if (ret.code === 0) {
                successMsg('更新成功', () => {
                    refreshRandomInt()
                })
                return;
            }
            errorMsg('更新失败' + ret.msg);

        });
        getTable(params);
    }



    function makeWhereJson() {
        whereJsonStr = {
            'Logic': 'And',
            'Filters': [{
                'Field': 'IsDeleted',
                'Operator': 'Equal',
                'Value': 0
            }]
        };
        if ($('#status').val()) {
            whereJsonStr.Filters.push({
                'Field': 'status',
                'Operator': 'Equal',
                'Value': $('#status').val()
            });
        }
        if ($('#activityId').val()) {
            whereJsonStr.Filters.push({
                'Field': 'activityId',
                'Operator': 'Equal',
                'Value': $('#activityId').val()
            });
        }
        if ($("#keyword").val()) {
            whereJsonStr.Filters.push({
                'Logic': 'Or',
                'Filters': [{
                    'Field': 'title',
                    'Operator': 'Contains',
                    'Value': $('#keyword').val()
                }, {
                    'Field': 'url',
                    'Operator': 'Contains',
                    'Value': $('#keyword').val()
                }]
            });
        }

        return { 'whereJsonStr': JSON.stringify(whereJsonStr), 'orderby': 'id', 'rd': randomInt };
    }

    async function CloneTemplate(id) {
        let formData = new FormData();
        formData.append('id', id);
        formData.append(csrfTokenKey, requestToken);
        let ret = await request('POST', '@Url.Action("CloneTemplate")', formData, CT);
        if(ret.code==0){
           
            successMsg('操作成功',()=>{
                if (pageElem && pageElem.length > 0)
                    currPage = pageElem.get(0).value;
                refreshRandomInt();
                getTemplateTable();
            })
        }
    }
</script>