@page
@model IndexModel
@{
    ViewData["Title"] = "首页";
}

<main class="container-fluid">
    <article aria-busy="true" class="pico-color-indigo-600">页面加载中...</article>

</main>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    
    //location.href = '/exam/index';
    
</script>
