@{
    Layout = "../Shared/_LayoutContent.cshtml";
}
<div class="layui-card layui-panel">
    <div style="padding:15px">
        <form class="layui-form">
            <div class="layui-form-item layui-row layui-col-space16">
                <div class="layui-col-md3">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-note"></i>
                        </div>
                        <select id="activityId" lay-filter="activityId">
                            <option value="">请选择归属活动</option>

                        </select>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-note"></i>
                        </div>
                        <select id="templateId" lay-filter="templateId">
                            <option value="">请选择对应模板</option>

                        </select>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-search"></i>
                        </div>
                        <input type="text" id="keyword" placeholder="关键字" class="layui-input">
                    </div>
                </div>

            </div>

            <div class="layui-form-item layui-row layui-col-space16">
                <div class="layui-col-md3">
                    <div class="layui-input-wrap">
                        <a href="javascript:;" onclick="DownloadTemplate()" class="layui-btn"><i class="layui-icon layui-icon-template"></i>下载模板</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function DownloadTemplate(){
        let loadIndex = layer.load();
        axios.get('@Url.Action("GenerationImportTemplate")')
            .then((data) => {
                layer.close(loadIndex);
                if (data.status == 200) {
                    let json = data.data;
                    window.open("@Magic.Guangdong.Assistant.ConfigurationHelper.GetSectionValue("resourceHost")" + json.data)
                } else {
                    layer.msg("模板下载失败", { icon: 2 });
                }
            })
    }
</script>