:root {
    --main-bg-color: #0F3888;
    --main-word-color: #fff;
    --main-word-bg-color: #16baaa;
    --bg-success-color: #16baaa;
    --bg-normal-color: #1e9fff;
    --page-bg-color: #16baaa;
}

body {
}

.main-bg-color {
    background-color: var(--main-bg-color) !important;
    color: #fff !important;
}

.layui-this .navSideSubLink {
    background-color: var(--main-word-bg-color) !important;
    color: var(--main-word-color) !important;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: var(--bg-success-color) !important;
}

.layui-bg-green {
    background-color: var(--bg-success-color) !important;
}


.layui-btn {
    background-color: var(--bg-success-color) !important;
}

.layui-btn-normal {
    background-color: var(--bg-normal-color) !important;
}

.layui-btn-warm {
    background-color: #ffb800 !important;
}
.layui-btn-danger {
    background-color: #ff5722 !important;
}
.layui-btn-primary {
    background-color: #fff !important;
}

.layui-btn-disabled {
    background-color: #fbfbfb !important;
}

.layui-border-blue {
    border-color: var(--bg-normal-color) !important;
    color: var(--bg-normal-color) !important
}
