@page
@model Magic.Guangdong.Exam.Client.Pages.Report.CreateModel
@{
}

<main class="container">
    <h2>活动报名</h2>
    <hr />
    <form id="reportForm">
        <article id="activityArea">
            @* <header>活动情况</header> *@
            <label>活动名称</label>
            <input type="text"
                   id="ActivityTitle"
                   value="根据activityId获取的活动标题"
                   placeholder="Disabled"
                   aria-label="Disabled input"
                   disabled />
            <label>选择考试</label>
            <select Id="ExamId" name="ExamId" aria-label="请选择您要参与的考试" required>
                <option selected disabled value="">
                    请选择您要参与的考试
                </option>
            </select>
            <label>报名费用</label>
            <input type="text"
                   id="Expenses"
                   value="考试报名费用"
                   placeholder="Disabled"
                   aria-label="Disabled input"
                   disabled />
        </article>


        <article id="reportInfoArea">
            <label>
                姓名
            </label>
            <input id="Name" name="Name"
                   placeholder="真实姓名"
                   autocomplete="off" required />


            <!-- Input outside label -->
            <label>邮箱</label>
            <fieldset class="grid">
                <input type="email"
                       id="Email"
                       name="Email"
                       placeholder="请输入真实可用的邮箱地址，用来接收消息和通知"
                       autocomplete="email"
                       aria-describedby="email-helper" required />
                <input type="number" class="email-valid" style="display:none"
                       id="verifyCode"
                       placeholder="输入验证码"
                       autocomplete="off" />
                <input type="button" id="verifyEmail" style="display:none" class="outline email-valid"
                       value="发送验证码" onclick="GetVerifyCode()" />
                <input type="button" id="verifyEmailWait" style="display:none" class="outline" disabled
                       value="发送中" />
            </fieldset>
            <small id="invalid-helper-email" class="pico-color-red-550"></small>

            <label>联系方式</label>
            <input type="tel" id="Mobile" name="Mobile" placeholder="输入您的联系方式" aria-label="Tel" autocomplete="tel" required />

            <label>证件号</label>
            <fieldset class="grid">
                <select name="CardType" id="CardType" required>
                    <option selected disabled value="">
                        证件类型
                    </option>
                    <option value="0">中国大陆公民身份证</option>
                    <option value="1">香港身份证</option>
                    <option value="2">澳门身份证</option>
                    <option value="3">台湾身份证</option>
                    <option value="4">护照</option>
                    <option value="5">其他</option>

                </select>
                <input type="text" id="IdCard" name="IdCard" placeholder="输入您的证件号码" aria-label="text" autocomplete="off" aria-describedby="invalid-helper" required />

            </fieldset>
            <small id="invalid-helper"></small>

            <label>
                地址
            </label>
            <fieldset class="grid">
                <select Id="ProvinceId" name="ProvinceId" aria-label="选择您所在的省份" required>
                    <option selected disabled value="">
                        请选择您所在的省份
                    </option>
                </select>
                <select Id="CityId" name="CityId" aria-label="选择您所在的城市" required>
                    <option selected disabled value="">
                        请选择您所在的城市
                    </option>
                </select>
                <select Id="DistrictId" name="DistrictId" aria-label="选择您所在的区/县">
                    <option selected disabled value="">
                        请选择您所在的区/县
                    </option>
                </select>
                <input type="text"
                       id="Address"
                       name="Address"
                       placeholder="您的具体地址，街道，小区等" />
            </fieldset>

            <label>工作单位</label>
            <fieldset class="grid">
                <input type="text" id="Job" name="Job" placeholder="点击右侧按钮从单位库选择" readonly aria-label="Read-only input" required />

                <input type="button" class="outline" id="unitSelect"
                       value="选择"
                       data-target="modal-unit"
                       onclick="toggleModal(event)" />
            </fieldset>

            <label>补充信息</label>
            <textarea name="OtherInfo"
                      id="OtherInfo"
                      placeholder="如果您有补充的报名信息，请填写在这里"></textarea>
        </article>

        <button id="submitInfo" type="submit" class="container-fluid">提交报名信息</button>
        <button id="submitInfoDisabled" style="display:none" disabled class="container-fluid secondary">已报名</button>
        <input type="hidden" name="UnitId" id="UnitId" value="0" />
        <input type="hidden" name="AccountId" id="AccountId" />
        <input type="hidden" name="ConnAvailable" id="ConnAvailable" value="0" />

    </form>
</main>

<dialog id="modal-unit">
    <article style="max-width:75%;">
        <header>选择单位库</header>
        <fieldset class="grid">
            <select id="unitType" aria-label="请选择单位所在的省份">
                <option selected disabled value="">
                    请选择单位类型
                </option>
                <option value=1>社会团体</option>
                <option value=2>学校</option>
                <option value=3>科研机构</option>
                <option value=4>机关单位</option>
                <option value=5>事业单位</option>
                <option value=6>校外机构</option>
                <option value=7>企业</option>
                <option value=8>其他</option>
            </select>

            <fieldset role="group">
                <input id="UnitKeyword" type="text" class="form-control"
                       placeholder="单位关键字"
                       autocomplete="off" required />
                <a role="button" href="javascript:;" id="btnUnitSearch">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                </a>
            </fieldset>
        </fieldset>

        <fieldset class="grid">
            <select Id="UnitProvinceId" aria-label="请选择单位所在的省份">
                <option selected disabled value="">
                    请选择单位所在的省份
                </option>
            </select>
            <select Id="UnitCityId" aria-label="请选择单位所在的城市">
                <option selected disabled value="">
                    请选择单位所在的城市
                </option>
            </select>
            <select Id="UnitDistrictId" aria-label="请选择单位所在的区/县">
                <option selected disabled value="">
                    请选择单位所在的区/县
                </option>
            </select>
        </fieldset>
        <details class="dropdown" id="unitDrops">
            <summary id="selectedUnit">
                选择您的单位
            </summary>
            <ul id="unitDropView">
            </ul>
        </details>

        <footer>
            <button role="button"
                    class="secondary"
                    data-target="modal-unit"
                    onclick="toggleModal(event)"
                    id="dialogClose">
                关闭
            </button>
            @*  <button autofocus data-target="modal-unit" onclick="toggleModal(event)">
            确定
            </button> *@
        </footer>
    </article>


</dialog>

<dialog id="modal-confirm">
    <article>
        <header>
            <button aria-label="Close"
                    rel="prev"
                    data-target="modal-confirm"
                    onclick="toggleModal(event)"></button>
            <h3>注意</h3>
        </header>
        <p>检测到当前账号下已经报名了本场考试，每个身份证号只可以报考一次该考试，若您想为其他人报名，请点击【为他人报名】，继续填报。</p>
        <footer>
            <a role="button"
                    class="secondary"
                    data-target="modal-confirm"
                    href="/activity/index"
                    >
                返回
            </a>
            <button autofocus data-target="modal-confirm" onclick="continueReport()">
                为他人报名
            </button>
        </footer>
    </article>
</dialog>

<script type="text/html" id="selectExamTpl">
    <option value="0">请选择</option>
    {{# layui.each(d,function(index,item){}}
    <option value="{{ item.examId }}" data-money="{{item.amount}}">{{item.examTitle}}</option>
    {{# }) }}
</script>
<script type="text/html" id="unitDropTpl">
    {{# layui.each(d,function(index,item){}}
    <li>
        <label onclick="chooseUnit('{{ item.value }}','{{item.name}}')">
            <input type="radio" name="unitIdDrop" data-code="{{item.code}}" value="{{ item.value }}" onclick="chooseUnit('{{ item.value }}','{{item.name}}')"/>
            {{item.name}}（地址：{{item.address}}）
        </label>
    </li>
    {{# }) }}
</script>

<script>
    let activityId = getUrlQueryParams('id');
    let examModel = {};
    let cardType;
    axios.get('/activity/getactivity', {
        params: {
            id: activityId
        }
    }).then(data => {
        let json = data.data;
        if (json.code == 0) {
            jValSet('ActivityTitle', json.data.title);
            renderTpl('selectExamTpl', 'ExamId', json.data.exams, true)
            getProvinceDrops('ProvinceId')
        } else
            TT.error(json.msg);
    })

    listenChange('ExamId', (event) => {
        examModel.id = event.target.value;

        var selectedOption = event.target.options[event.target.selectedIndex];
        var money = selectedOption.getAttribute('data-money');
        examModel.title = selectedOption.text;
        examModel.expenses = money;
        jValSet('Expenses', money);
        reportLogCheck()
    })

    //监听证件类型
    listenChange('CardType', (event) => {
        cardType = event.target.value;
        jValSet('CardType', cardType)
        $('#IdCard').val('').removeAttr('aria-invalid', false)
        jHtmlSet('invalid-helper', '')
    })

    //监听身份证变化，这个用另外一个方法
    autoSearch('IdCard', () => {
        if (cardType != '0') {
            
            return;
        }
        if(!cardType)
            $('#invalid-helper').addClass('pico-color-red-550').html('请选择证件类型')
        $('#invalid-helper').html('');
        let checkRet = SFID(jVal('IdCard'));
        if (checkRet != 'OK') {
            $('#IdCard').attr('aria-invalid', true)
            $('#invalid-helper').html(checkRet).addClass('pico-color-red-550')
        } else {
            $('#IdCard').attr('aria-invalid', false);
            //$('#invalid-helper').html(checkRet).removeClass('pico-color-red-550').addClass('pico-color-green-450')
            $('#invalid-helper').html('');
        }
    })

    //监听省份
    listenChange('ProvinceId', (event) => {
        $('#DistrictId').html('<option selected disabled value="">请选择您所在的区/县</option>');
        getCityDrops(event.target.value, 'CityId')
    })

    //监听城市
    listenChange('CityId', (event) => {
        getDistrictDrops(event.target.value, 'DistrictId')
    })

    //监听邮箱输入
    autoSearch('Email', async function () {
        let email = jVal('Email');
        let ret = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(email);
        if (!ret) {
            $('#Email').attr('aria-invalid', true);
            $('.email-valid').hide();
            $('#invalid-helper-email').html('邮箱格式错误')
        } else {
            $('#Email').removeAttr('aria-invalid');
            $('.email-valid').show()
            $('#invalid-helper-email').hide();
        }
    })

    //监听验证码输入情况
    listenChange('verifyCode', (event) => {
        let code = event.target.value;
        if (code.length != 4) {
            return;
        }
        $('#verifyCode').attr('disabled', true);
        axios('/account/VerifyEmailCode', {
            params: {
                email: jVal('Email'),
                code: code
            }
        }).then(data => {
            let json = data.data;
            if (json.code == 0) {
                TT.success('验证通过');
                $('#Email').attr('aria-invalid', false).attr('readonly', true);
                $('.email-valid').attr('disabled', true).hide();
                $('#verifyEmailWait').hide();
                $('#ConnAvailable').val(1);
                return;
            }
            TT.error('验证码错误');
            $('#verifyCode').removeAttr('disabled');
        })
    })

    //获取验证码
    async function GetVerifyCode() {
        $('#verifyEmail').hide();
        $('#verifyEmailWait').attr('aria-busy', true).show();
        let email = jVal('Email');
        let formData = new FormData();
        formData.append('to', email);
        formData.append('username', email)
        formData.append('__RequestVerificationToken', requestToken)
        let ret = await request('POST', '/account/GenerateCode', formData, CT);
        if (ret.code == 0) {
            TT.success('我们向您输入的邮箱发送了一封邮件，请查收并输入邮件中的验证码，以完成邮箱有效性验证。');
            $('#verifyEmailWait').attr('aria-busy', false)
            accurateCountdown('60', 'verifyEmailWait', () => {
                $('#verifyEmail').show();
                $('#verifyEmailWait').hide();
            })
        }
    }

    //表单提交
    const form = document.querySelector('#reportForm');
    interceptFormSubmit(form, async (formData) => {

        if (!examModel.id) {
            TT.error('请选择要报名的考试');
            return;
        }

        if ($('#ConnAvailable').val() == '0') {
            TT.error('邮箱未通过有效性验证');
            return;
        }
        if (!$('#Job').val()) {
            TT.error('工作单位需要填写');
            return;
        }
        formData.AccountId = accountId;
        formData.ActivityId = activityId;
        //formData.__RequestVerificationToken = requestToken;
        console.log(JSON.stringify(formData));

        let ret = await request('POST', '/Report/ReportInfo', objectToFormData(formData), CT)
        if (ret.code == 0) {
            examModel.orderTradeNumber = ret.data;
            TT.success('报名成功');
        } else {
            TT.error('报名失败:' + ret.msg);
        }

        if (ret.code == 0 && isAmount(examModel.expenses) && parseFloat(examModel.expenses) > 0) {
            TT.info('即将跳转到付款页面...', 3000);
            setTimeout(() => {
                let sub = btoa(encodeURIComponent(JSON.stringify(examModel)));
                location.href = `/order/detail?sub=${sub}`;
            }, 2000)
        }
    })

    function getProvinceDrops(elemId) {
        axios.get('/activity/getprovincedrops').then(data => {
            let json = data.data;
            if (json.code == 0) {
                renderTpl('selectTpl', elemId, json.data, true)
            }
        })
    }

    function getCityDrops(provinceId, elemId) {
        $('#' + elemId).html('<option selected disabled value="">请选择所在的城市</option>');
        axios.get('/activity/getcitydrops', {
            params: {
                'provinceId': provinceId
            }
        }).then(data => {
            let json = data.data;
            if (json.code == 0) {
                renderTpl('selectTpl', elemId, json.data, true)
            }
        })
    }

    function getDistrictDrops(cityId, elemId) {
        $('#' + elemId).html('<option selected disabled value="">请选择所在的区/县</option>');

        axios.get('/activity/getdistrictdrops', {
            params: {
                'cityId': cityId
            }
        }).then(data => {
            let json = data.data;
            if (json.code == 0) {
                renderTpl('selectTpl', elemId, json.data, true)
            }
        })
    }

    function reportLogCheck(){        
        if (examModel.id) {
            axios.get('CheckReportLogById', {
                params: {
                    accountId:accountId,
                    examId: examModel.id
                }
            }).then(data => {
                let json = data.data;
                if (json.code != 0) {
                    let modal = document.getElementById('modal-confirm');
                    openModal(modal);
                    $('#reportInfoArea').hide();
                    $('#submitInfo').hide();
                    $('#submitInfoDisabled').show();
                } else {
                    $('#reportInfoArea').show();
                    $('#submitInfo').show();
                    $('#submitInfoDisabled').hide();
                }
            })
        }
    }

    function continueReport(){
        let modal = document.getElementById('modal-confirm');
        closeModal(modal);
        $('#reportInfoArea').show();
        $('#submitInfo').show();
        $('#submitInfoDisabled').hide();
    }
</script>

<script id="dialogJs">
    let unitQueryParams = {
        unitType: 0,
        provinceId: 0,
        cityId: 0,
        districtId: 0,
        keyword: ''
    };
    setTimeout(() => {
        getProvinceDrops('UnitProvinceId');
    }, 500)

    listenChange('unitType', (event) => {
        unitQueryParams.unitType = event.target.value;
        getUnitDrops()
    })

    //监听单位库省份
    listenChange('UnitProvinceId', (event) => {
        unitQueryParams.provinceId = event.target.value;
        $('#UnitDistrictId').html('<option selected disabled value="">请选择您所在的区/县</option>');
        getCityDrops(event.target.value, 'UnitCityId')
        getUnitDrops()
    })

    //监听单位库城市
    listenChange('UnitCityId', (event) => {
        unitQueryParams.cityId = event.target.value;
        getDistrictDrops(event.target.value, 'UnitDistrictId')
        getUnitDrops()
    })

    //监听单位库区县
    listenChange('UnitDistrictId', (event) => {
        unitQueryParams.districtId = event.target.value;
        getUnitDrops()
    })

    autoSearch('UnitKeyword', () => {
        unitQueryParams.keyword = jVal('UnitKeyword');
        getUnitDrops();
    })

    function getUnitDrops() {
        jHtmlSet('selectedUnit', '请选择您的单位');
        axios.get('/report/GetUnitInfoDrops', { params: unitQueryParams })
            .then((data) => {
                let json = data.data;
                if (json.code != 0) {
                    jHtmlSet('selectedUnit', '服务异常');
                    TT.error('服务异常');
                    return;
                }
                renderTpl('unitDropTpl', 'unitDropView', json.data);
                if (json.data.length > 0) {
                    $('#unitDrops').attr('open', true);
                    $('#modal-unit article').attr('style', 'min-height:80%;max-width:75%')
                } else
                    jHtmlSet('selectedUnit', '无结果，请尝试更换检索条件或联系管理人员增加单位库');
            })
    }

    function chooseUnit(unitId, unitName) {
        jHtmlSet('selectedUnit', unitName);
        jValSet('Job', unitName);
        jValSet('UnitId', unitId);
        $('#unitDrops').removeAttr('open');
        document.getElementById('dialogClose').click()
        $('#modal-unit article').attr('style', 'max-width:75%')
    }

</script>
