@page
@model Magic.Guangdong.Exam.Client.Pages.Report.DetailModel
@{
}
<main class="container">
    <p>
        <a id="btnBack" href="javascript:history.go(-1)" >
            <svg t="1713870927961" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="9962" width="16" height="16"><path d="M927.2 610.5c0 143-116.3 259.4-259.3 259.4H196.1c-12.9 0-23.4-10.4-23.4-23.4 0-12.9 10.4-23.4 23.4-23.4h471.7c117.2 0 212.6-95.4 212.6-212.6S785 397.8 667.8 397.8h-458l199.6 199.6c9.1 9.1 9.1 23.9 0 33-4.6 4.6-10.5 6.8-16.5 6.8s-11.9-2.3-16.5-6.8L137 391.1c-9.1-9.1-9.1-23.9 0-33l239.6-239.5c9.1-9.1 23.9-9.1 33 0s9.1 23.9 0 33L210 351.2h457.9c143 0 259.3 116.3 259.3 259.3z" p-id="9963" fill="#524ED2"></path></svg>
            返回
        </a>
    </p>
    <article id="success">
        <header class="pico-color-jade-400">报名成功</header>
        <h6>考生姓名：<font id="name"></font></h6>
        <h6>考生证件：<font id="idCard"></font></h6>
        <h6>考试科目：<font id="subject"></font></h6>
        <h6>报名时间：<font id="createdAt"></font></h6>
        <div id="audit" style="display:none">
            <h6>准考证号：<font id="reportNumber" class="pico-color-jade-350"></font></h6>

            <h6>考试时间：<font id="startTime" class="pico-color-jade-350"></font></h6>
            <h6>考试地点：<font id="examAddress" class="pico-color-jade-350"></font></h6>
            <h6>注意事项：<font id="remark" class="pico-color-jade-350"></font></h6>
        </div>
        <h6>交费状态：<font id="checkStep"></font></h6>
        <h6>审核状态：<font id="checkStatus"></font></h6>        
        <h6 class="unpass" style="display:none">审核意见：<font id="checkRemark"></font></h6>
        <footer class="pass" style="display:none">
            <a role="button" id="practice" href="javascript:;" class="outline" style="border-color:#E8AE01;color:#E8AE01;display:none">去刷题</a>
            <a role="button" id="exam" href="javascript:;" class="outline pass" style="border-color:#D9269D;color:#D9269D">去考试</a>
            <a role="button" id="pay" href="javascript:;" style="display:none" class="pass">去付款</a>
        </footer>
        <footer class="unpass" style="display:none">
            <a role="button" href="javascript:;" class="outline pass" style="border-color:#525F7A;color:#525F7A">修改报名信息</a>

        </footer>
    </article>
    <article id="error" style="display:none">
        <header class="pico-color-red-500">报名失效</header>
        <h5>信息：<font id="errorInfo" class="pico-color-orange-450"></font></h5>
    </article>
</main>
<script>
    let reportId = getUrlQueryParams('id');
    let outTradeNo = getUrlQueryParams('outTradeNo');
    let url = '/report/GetReportDetailForClient';
    let requestParma = { reportId: reportId };
    if (!reportId || outTradeNo) {
        url = '/report/GetReportDetailByOutTradeNoForClient';
        requestParma = { outTradeNo: outTradeNo };
    }
    let practiceDto = {
        reportId:reportId,
        examId:''
    }

    axios.get(url, {
        params: requestParma
    }).then(data => {
        let json = data.data;
        if (json.code != 0) {
            TT.error('网络异常');
            return;
        }
        renderPage(json.data)
    })
   
    function renderPage(data) {
        let reportItem = data.reportInfo;

        let lastCheckHistory = data.lastCheckHistory;
        let attachmentInfo = data.attachmentInfo;

        reportId = reportItem.reportId;
        if (reportItem.reportStatus == 1) {
            $('#success').remove();
            $('#error').show();
            jHtmlSet('errorInfo', '您的报名记录已失效');
            return;
        }
        practiceDto.examId=reportItem.examId;
        practiceDto.reportId=reportItem.reportId;
        jHtmlSet('reportNumber', reportItem.reportNumber);
        //jHtmlSet('subject', `${reportItem.title}(${reportItem.associationTitle})`);
        jHtmlSet('startTime', convertDateFormat(reportItem.startTime, 'yyyy/MM/dd HH:mm:ss'));
        jHtmlSet('createdAt', convertDateFormat(reportItem.reportTime, 'yyyy/MM/dd HH:mm:ss'));
        jHtmlSet('examAddress', reportItem.examAddress ? reportItem.examAddress : '等候通知')
        jHtmlSet('remark', (reportItem.remark && reportItem.remark != 'null') ? reportItem.remark : '请带好准考证，准时参加考试，不许作弊');
        jHtmlSet('name', reportItem.name);
        jHtmlSet('idCard', reportItem.idCard);
        
        $('#audit').hide();
        $('.pass').show();
        if (reportItem.reportStatus == 0) {
            
            $('#checkStatus').html('审核通过').addClass('pico-color-jade-350');
            $('#audit').show()
        } else if (reportItem.reportStatus == 2) {
            $('#checkStatus').html('待审核').addClass('pico-color-amber-200')
            $('#pay').attr('disabled',true)
        } else if (reportItem.reportStatus == 3) {
            $('#checkStatus').html('已退款').addClass('pico-color-sand-450')
            $('.pass').remove();
        } else {
            $('#checkStatus').html('不通过').addClass('pico-color-red-500')
            $('#checkRemark').html(lastCheckHistory.checkRemark).addClass('pico-color-red-500');
            $('.unpass').show();
            $('.pass').remove();
        }
        if (reportItem.reportStatus == 0 && reportItem.reportStep == 0) {
            $('.pass').show();
            $('#pay').attr('href', '/order/detail?id=' + encodeURIComponent(btoa(reportItem.orderId))).show();
        }

        if (reportItem.reportStep == 0) {
            $('#checkStep').html('待交费').addClass('pico-color-amber-200')
            $('#exam').remove();
        }
        else if (reportItem.reportStep == 1) {
            $('#checkStep').html('已交费').addClass('pico-color-jade-350');
            $('#exam').attr('href', `/exam/index?examId=${reportItem.examId}&reportId=${reportItem.reportId}`);
            $('#pay').remove();
            
        }
        else {
            $('.unpass').show();
            $('.pass').remove();
            $('#checkStep').html('未交费').addClass('pico-color-red-500')
        }
        if(reportItem.examType==1){
            //jHtmlSet('subject', `${reportItem.title}(${reportItem.associationTitle})`);
            $('#subject').html(`${reportItem.title}(${reportItem.associationTitle}，练习模式)`).addClass('pico-color-amber-200')
            $('#exam').hide();
            $('#practice').show();
        } else {
            $('#subject').html(`${reportItem.title}(${reportItem.associationTitle}，正式考试)`).addClass('pico-color-fuchsia-500')
        }

        if (reportItem.reportStep == 1 && attachmentInfo != null) {
            practiceDto.examId = attachmentInfo.practiceId;
            $('#practice').show();

        }
    }

    $('#practice').click(async ()=>{
        $('#practice').attr('aria-busy', true);
        let formData = objectToFormData(practiceDto);
        let json = await request('POST', '/examclient/ConfirmMyPracticePaper', formData, CT);
        $('#practice').attr('aria-busy', false);
        
        sessionStorage.clear();
        if (json.code == 1 && json.data) {
            //TT.warning(json.msg);
            json.data.complated == 1 ? location.href = `/exam/result?urid=${json.data.id}` : location.href = `/exam/practice?urid=${json.data.id}&pid=${json.data.paperId}`;
            return;
        }
        if (json.code == 0) {
            location.href = `/exam/practice?urid=${json.data.id}&pid=${json.data.paperId}`
            return;
        }
        TT.error(json.msg);

    })
</script>