@page
@model Magic.Guangdong.Exam.Client.Pages.Report.IndexModel
@{
}
<main class="container">
    <h3 class="pico-color-azure-500">我的报名记录：</h3>
    <div id="reportListView">

    </div>
</main>
<script id="reportListTpl" type="text/html">
    {{# layui.each(d,function(index, item){ }}
    <article id="reportItem{{ index }}">
       
        @* <h6>参与考试：{{item.subject}}</h6> *@
        <h6>参与活动：{{item.acitivityTitle}}</h6>
        <h6>参与考试：{{item.examTitle}}</h6>
        <h6>订单编号：{{item.outTradeNo}}</h6>
        <h6>参与状态：
            {{# if(item.reportStatus==0){ }}
                <font class="pico-color-green-400">审核通过</font>
            {{# } else if(item.reportStatus==1) { }}
                <font class="pico-color-red-200">审核不通过</font>
            {{# } else if(item.reportStatus==2) { }}
                <font class="pico-color-amber-200">待审核</font>
            {{# } else { }}
                <font class="pico-color-sand-900">已退款</font>
            {{# }}}
        </h6>
        <footer>
            <a class="outline" role="button" href="/report/detail?id={{item.reportId}}&examId={{item.examId}}">查看</a>
            {{# if(item.reportStatus==0 && item.step==0){ }}
                <a class="pico-background-azure-450" style="border-color:aliceblue" role="button" href="/order/detail?id={{ btoa(encodeURIComponent(item.orderId)) }}">去支付</a>
            {{# } }}
            {{# if(item.testedTime>0){ }}
                <a class="pico-color-pumpkin-300 outline" style="border-color:#FF9500" role="button" href="/exam/history?reportId={{item.reportId}}">成绩</a>
            {{# } }}
        </footer>
    </article>
    {{# }) }}
</script>
<script>
    let queryDto = {
        AccountId: accountId,
        pageIndex: 1,
        pageSize: 1000//先一把梭，时间富裕了再加上滚动加载
    }
    axios.get('/report/GetReportOrderListClient', { params: queryDto })
        .then(data => {
            let json = data.data;
            if (json.code == 0) {
                renderTpl('reportListTpl', 'reportListView', json.data.items, false);
            }
            console.log(data)
        })

</script>