@{
    Layout = "../Shared/_LayoutContent.cshtml";
}
<div class="layui-card layui-panel">
    <div style="padding:15px">
        <form class="layui-form">
            <div class="layui-form-item ">
                <div class="layui-input-inline">
                    <select id="statusView" lay-verify="" lay-search lay-filter="status">
                        <option value="-1">数据状态</option>
                        <option value="0">正常</option>
                        <option value="1">禁用</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select id="unitTypeView" lay-verify="" lay-search lay-filter="unitType">
                        <option value=0>单位类型</option>
                        <option value=1>社会团体</option>
                        <option value=2>学校</option>
                        <option value=3>科研机构</option>
                        <option value=4>机关单位</option>
                        <option value=5>事业单位</option>
                        <option value=6>校外机构</option>
                        <option value=7>企业</option>
                        <option value=8>其他</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select id="provinceView" lay-filter="provinceId">
                        <option>请选择省份</option>
                    </select>
                </div>

                <div class="layui-input-inline">
                    <select id="cityView" lay-filter="cityId">
                        <option>请选择城市</option>

                    </select>
                </div>

                <div class="layui-input-inline">
                    <select id="districtView" lay-filter="districtId">
                        <option>请选择区/县</option>

                    </select>
                </div>

                <div class="layui-input-inline">
                    <input class="layui-input" type="text" id="keyword" name="keyword" lay-filter="keyword" placeholder="单位名称/组织机构代码" />
                </div>
                <div class="layui-input-inline">
                    <a href="@Url.Action("Create")" class="layui-btn">添加新单位</a>
                </div>
            </div>
        </form>
        <table id="table" class="layui-table" lay-filter="table"></table>
    </div>
</div>
<script type="text/html" id="statusTpl">
    {{# if(d.status==0){ }}
    <span style="color:#1e9fff">正常</span>
    {{# } else { }}
    <span style="color:#FF5722">禁用</span>
    {{# } }}
</script>

<script type="text/html" id="typeTpl">
    {{# if(d.unitType==0){ }}
    未指定
    {{# } else if(d.unitType==1) { }}
    社会团体
     {{# } else if(d.unitType==2) { }}
    学校
     {{# } else if(d.unitType==3) { }}
    科研机构
     {{# } else if(d.unitType==4) { }}
    机关单位
     {{# } else if(d.unitType==5) { }}
    事业单位
     {{# } else if(d.unitType==6) { }}
    校外机构
    {{# } else if(d.unitType==7) { }}
    企业
    {{# } else { }}
    其他
    {{# } }}
</script>

<script type="text/html" id="unitStatusTpl">
    {{# if(d.unitStatus==0){ }}
    <span style="color:#16b777">存续</span>
    {{# } else if (d.unitStatus==1){ }}
    <span style="color:#1e9fff">在业</span>
    {{# } else if (d.unitStatus==2){ }}
    <span style="color:#a233c6">吊销</span>
    {{# } else if (d.unitStatus==3){ }}
    <span style="color:#a233c6">注销</span>
    {{# } else if (d.unitStatus==4){ }}
    <span style="color:#ffb800">迁出</span>
    {{# } else if (d.unitStatus==5){ }}
    <span style="color:#ffb800">迁入</span>
    {{# } else if (d.unitStatus==6){ }}
    <span style="color:#ff5722">停业</span>
    {{# } else if (d.unitStatus==7){ }}
    <span style="color:#FF5722">清算</span>
    {{# } else { }}
    <span style="color:#2f363c">其他</span>
    {{# } }}
</script>

<script type="text/html" id="operationTpl">
    <a class="layui-btn layui-btn-primary layui-border-blue" href="@Url.Action("Edit")?id={{d.id}}"><i class="layui-icon layui-icon-edit"></i>编辑</a>
    <a class="layui-btn layui-btn-primary layui-border-red" href="javascript:;" onclick="removeItem({router:'/system/unitinfo/remove',removeId:'{{d.id }}',refresh:false,callback:()=>{refreshRandomInt();getUnitInfoTable();} })"><i class="layui-icon layui-icon-delete"></i>删除</a>
</script>


<script>
    let table = layui.table;
    let form = layui.form;
    let provinceId = 0;
    let cityId = 0;
    let districtId = 0;
    let unitType = 0;
    getSelectItems('/system/province/GetProvinceDrops', {}, 'selectTpl', 'provinceView');

    form.on('select(provinceId)', (data) => {
        provinceId = data.value;
        $('#districtView').val('').html('');
        $('#cityView').val('').html('');
        form.render('select');
        cityId = 0;
        districtId = 0;
        if (isNumeric(provinceId) && provinceId != '0')
            getSelectItems('/system/city/GetCityDrops', { provinceId: provinceId }, 'selectTpl', 'cityView', false);
       
        getUnitInfoTable();
    })

    form.on('select(cityId)', (data) => {
        cityId = data.value;
        $('#districtView').val('').html('');
        form.render('select');
        districtId = 0;
        if (isNumeric(cityId) && cityId!='0')
            getSelectItems('/system/district/GetDistrictDrops', { cityId: cityId }, 'selectTpl', 'districtView', false)
        
        getUnitInfoTable();
    })
    form.on('select(districtId)', (data) => {
        districtId = data.value;
        getUnitInfoTable();
    })

    form.on('select(unitType)',(data)=>{
        unitType = data.value;
        getUnitInfoTable();
    })

    getUnitInfoTable();
    function getUnitInfoTable() {
        var params = {
            url: '@Url.Action("GetUnitInfos")',
            elem: '#table',
            where: makeWhereJson(),
            size: 'lg',
            page: true,
            cols: [ //表头
                { title: '序号', templet: '#indexTpl', width: 100 }
                //{ field: 'id', title: '用户id', type: 'checkbox' }
                , { field: 'unitCaption', title: '单位名称' }
                , { field: 'organizationCode', title: '统一信用代码' }
                , { templet: '#typeTpl', title: '单位类型' }
                , { field: 'telephone', title: '联系方式' }
                , { field: 'provinceShortName', title: '省份' }
                , { field: 'cityName', title: '城市' }
                , { templet: '#unitStatusTpl', title: '经营状态' }
                , { templet: '#statusTpl', title: '数据状态' }
                , { title: '操作', templet: '#operationTpl', width: 260 }
            ],
            height: 630
        }
        getTable(params);
    }

    function makeWhereJson() {
        whereJsonStr = {
            'Logic': 'And',
            'Filters': [{
                'Field': 'IsDeleted',
                'Operator': 'Equal',
                'Value': 0
            }]
        };
        if ($('#statusView').val() && $('#statusView').val() != '-1') {
            whereJsonStr.Filters.push({
                'Field': 'status',
                'Operator': 'Equal',
                'Value': $('#statusView').val()
            });
        }

        if (provinceId > 0) {
            whereJsonStr.Filters.push({
                'Field': 'ProvinceId',
                'Operator': 'Equal',
                'Value': provinceId
            });
        }
        if (cityId > 0) {
            whereJsonStr.Filters.push({
                'Field': 'CityId',
                'Operator': 'Equal',
                'Value': cityId
            });
        }
        if (districtId > 0) {
            whereJsonStr.Filters.push({
                'Field': 'DistrictId',
                'Operator': 'Equal',
                'Value': districtId
            });
        }
        if (unitType > 0) {
            whereJsonStr.Filters.push({
                'Field': 'UnitType',
                'Operator': 'Equal',
                'Value': unitType
            });
        }
        if ($("#keyword").val()) {
            let keyword = $("#keyword").val().trim();
            whereJsonStr.Filters.push({
                'Logic': 'Or',
                'Filters': [{
                    'Field': 'UnitCaption',
                    'Operator': 'Contains',
                    'Value': keyword
                }, {
                    'Field': 'OrganizationCode',
                    'Operator': 'Contains',
                    'Value': keyword
                }]
            });
        }

        

        return { 'whereJsonStr': JSON.stringify(whereJsonStr), 'orderby': 'id', 'rd': randomInt };
    }
</script>