@page
@model ErrorModel




<fieldset class="layui-elem-field">
    <legend>异常</legend>
    <div class="layui-field-box">
       


        <div class="layui-bg-gray" style="padding: 16px;">
            <div class="layui-row layui-col-space15">
                <div class="layui-card">
                    <div class="layui-card-header">错误信息</div>
                    <div class="layui-card-body">
                        <h2 id="errorMsg" style="color:#ff5722">请检查您的访问权限或重新登录</h2>


                        @if (Model.ShowRequestId)
                        {
                            <br />
                            <span class="layui-badge layui-bg-cyan">Request ID @Model.RequestId</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>



<script>
    let error = getUrlQueryParams('msg');
    if (error) { 
        document.getElementById('errorMsg').innerHTML = decodeURIComponent(error)
    }

</script>