@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>

</div>
<script>
    layer.msg('加载中', {
        icon: 16,
        shade: 0.01
    });
    window.location.href='/system/manage'
</script>
