@{
    Layout = "../Shared/_LayoutContent.cshtml";
}
<div class="layui-card layui-panel">
    <div style="padding:15px">
        <form class="layui-form">
            <div class="layui-form-item ">
                <label class="layui-form-label">栏目分组</label>
                <div class="layui-input-inline" style="width:25%">
                    <select id="menuTypeView" lay-verify="" lay-search lay-filter="menuType">
                    </select>
                </div>
                <div class="layui-input-inline" style="width:15%">
                    <a href="create" class="layui-btn">添加新栏目</a>
                </div>
            </div>
            <div class="layui-form-item">
                <blockquote class="layui-elem-quote">注意：添加、编辑功能菜单路径时，要注意查看功能描述</blockquote>
            </div>
        </form>
        <table id="table" class="layui-table" lay-filter="table"></table>

    </div>
    
</div>

<script id="menuTypeTpl" type="text/html">
    <option value="0">请选择(可删除当前内容并输入关键字检索)</option>
    {{# layui.each(d,function(index,item){}}
    <option value="{{ item.id }}">{{ item.name }}</option>
    {{# }) }}
</script>


<script type="text/html" id="statusTpl">
    {{# if(d.status==1){ }}
    <span style="color:#1E9FFF">正常</span>
    {{# } else { }}
    <span style="color:#FF5722">禁用</span>
    {{#} }}
</script>

<script type="text/html" id="operationTpl">
    <a class="layui-btn layui-btn-primary layui-border-blue" href="/system/menu/edit?id={{d.id}}"><i class="layui-icon layui-icon-edit"></i>编辑</a>
    <a class="layui-btn layui-btn-primary layui-border-red" href="javascript:;" onclick="removeItem({router:'/system/menu/remove',removeId:{{d.id }},refresh:false,callback:()=>{refreshRandomInt();getMenuTable();} })"><i class="layui-icon layui-icon-delete"></i>删除</a>
</script>
<script>
    let table = layui.table;
    let form = layui.form;
    let token = $('@Html.AntiForgeryToken()').val();
    getMenuTable();

    axios.get('/system/menu/getmenus', {
        params: {
            parentId: 0
        }
    }).then(result => {
        renderTpl('menuTypeTpl', 'menuTypeView', result.data.data, false).then(()=>{
            
            renderLayuiFormElem({ elemType:'select'})
        })
       
    })

    form.on('select(menuType)', (data) => {
        console.log($('#menuTypeView').val())
        getMenuTable()
    })
    
    function getMenuTable() {      
        var params = {
            url: '/system/menu/GetMenuPages',
            elem: '#table',
            where: makeWhereJson(),
            size: 'lg',
            page: true,
            cols: [ //表头
                //{ title: '序号', templet: '#indexTpl', width: 100 },
                { field: 'id', title: '功能id' }
                , { field: 'name', title: '功能名称' }
                , { field: 'description', title: '描述' }
                , { field: 'depth', title: '栏目层级' }
                , { templet: '#statusTpl', title: '状态' }
                , { field: 'router', title: '路由地址'}
                , { field: 'parentId', hide: true }
                , { field: 'permissionId', hide: true }
                , { title: '操作', templet: '#operationTpl', width: 220 }
            ],
            height: 630
        }
        getTable(params);

    }

    function makeWhereJson() {
        whereJsonStr = {
            'Logic': 'And',
            'Filters': [{
                'Field': 'IsDeleted',
                'Operator': 'Equal',
                'Value': 0
            }, {
                'Field': 'Depth',
                'Operator': 'GreaterThan',
                'Value': 0
            }]
        };
        if ($('#menuTypeView').val() && $('#menuTypeView').val()!='0') {
            whereJsonStr.Filters.push({
                'Logic': 'And',
                'Filters': [{
                    'Field': 'parentId',
                    'Operator': 'Equal',
                    'Value': $('#menuTypeView').val()
                }]
            });
        }


        return { 'whereJsonStr': JSON.stringify(whereJsonStr), 'rd': randomInt };
    }

    
</script>