@{
    Layout = "../Shared/_LayoutContent.cshtml";
}
<style>
    .summary-div {
        display: flex;
        justify-content: center; /* 水平居中 */
        align-items: center; /* 垂直居中 */
        height: 100px; /* 根据需要设定高度 */
        width: 100%; /* 根据需要设定宽度 */
        color: #16baaa;
        margin-left:-16px;
    }
</style>
<script src="~/plugins/echarts/echarts.min.js"></script>
@* <blockquote class="layui-elem-quote">稍后这里会放一些一目了然的统计类图表，就像下面这样👇</blockquote> *@

<div class="layui-panel">
    <div class="layui-row layui-col-space10" style="padding:15px">
        <div class="layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-header">累计订单收入（不含退款）</div>
                <div class="layui-card-body summary-div">
                    <h1><span id="orderAmount" style="cursor:pointer"></span> <i class="layui-icon layui-icon-rmb" style="font-size:26px"></i></h1>

                </div>
            </div>
        </div>
        <div class="layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-header">累计报名人数</div>
                <div class="layui-card-body summary-div">
                    <h1><span id="reportNumTotal" style="cursor:pointer"></span> <i class="layui-icon layui-icon-user" style="font-size:26px"></i></h1>

                </div>
            </div>
        </div>
        <div class="layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-header">累计发布考试</div>
                <div class="layui-card-body summary-div">
                    <h1><span id="examNumTotal" style="cursor:pointer"></span> <i class="layui-icon layui-icon-release" style="font-size:26px"></i></h1>

                </div>
            </div>
        </div>
        <div class="layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-header">累计提交试卷</div>
                <div class="layui-card-body summary-div">
                    <h1><span id="recordTotal" style="cursor:pointer"></span> <i class="layui-icon layui-icon-form" style="font-size:26px"></i></h1>

                </div>
            </div>
        </div>
        <div class="layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-header">累计发布证书</div>
                <div class="layui-card-body summary-div">
                    <h1><span id="certTotal" style="cursor:pointer"></span> <i class="layui-icon layui-icon-picture" style="font-size:26px"></i></h1>

                </div>
            </div>
        </div>
        <div class="layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-header">主观题待判试卷总量</div>
                <div class="layui-card-body summary-div" style="color:#ff5722!important">
                    <h1><span id="unMarkedTotal" style="cursor:pointer"></span> <i class="layui-icon layui-icon-survey" style="font-size:26px"></i></h1>

                </div>
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space10">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-body" id="orderDateLine" style="height:560px">

                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-body" id="reportExamDateLine" style="height:560px">
                
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    axios('@Url.Action("getdata")').then(data => {
        console.log(data)
        let json = data.data;
        jHtmlSet('orderAmount', json.data.orderAmountTotal);
        jHtmlSet('reportNumTotal', json.data.reportNumTotal);
        jHtmlSet('examNumTotal', json.data.examNumTotal);
        jHtmlSet('recordTotal', json.data.recordTotal);
        jHtmlSet('certTotal', json.data.certTotal);
        jHtmlSet('unMarkedTotal', json.data.unMarkedTotal);
        orderDateLine(json.data.orderDateLine);
        reportExamDateLine(json.data.reportExamDateLine)
    })

    function orderDateLine(lineData) {
        let myLineChart = echarts.init(document.getElementById('orderDateLine'));
        let option = {
            title: {
                text: '30日订单收入曲线'
            },
            legend: {
                data: ['收入金额（单位:元）']
            },
            tooltip: {
                trigger: 'item',

            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                show: true,
                feature: {
                    mark: { show: true },
                    dataView: { show: true, readOnly: false },
                    restore: { show: true },
                    saveAsImage: { show: true }
                },
                right: 30
            },
            emphasis: {
                itemStyle: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: lineData.map(item=>item.createdAtFormat)
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '收入金额（单位:元）',
                    stack: 'Total',
                    
                    data: lineData.map(item => item.orderAmount),
                    type: 'line'
                }
            ]
        }
        myLineChart.setOption(option);
    }

    function reportExamDateLine(lineData) {
        let myLineChart = echarts.init(document.getElementById('reportExamDateLine'));
        let option = {
            title: {
                text: '30日活动报名曲线'
            },
            legend: {
                data: ['考试报名人数', '参与练习次数']
            },
            tooltip: {
                trigger: 'item',

            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                show: true,
                feature: {
                    mark: { show: true },
                    dataView: { show: true, readOnly: false },
                    restore: { show: true },
                    saveAsImage: { show: true }
                },
                right: 30
            },
            emphasis: {
                itemStyle: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: lineData.map(item => item.reportTimeFormat)
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '考试报名人数',
                    stack: 'Total',
                    data: lineData.map(item => item.reportCnt),
                    type: 'line'
                },
                // {
                //     name: '参与练习次数',
                //     stack: 'Total',
                //     data: lineData2.map(item => item.reportCnt),
                //     type: 'line'
                // }
            ]
        }
        myLineChart.setOption(option);
    }
</script>

